<div class="container">
  <h1 class="text-center">{{ name }}</h1>

  <div class="container">
    <!-- <div class="row">
      <div class="col-5">
        <div>
          <img class="img-fluid img-rounded"
            src="https://lh3.googleusercontent.com/H-uNVwHLps0cJ53epcV96qL2ZsHqWniqjkBxdmGU18rIoSb-ts_Ak1RGj8vB3t51r-sBI13uH6kXpHXsrVn6skFZF-ohVQzBBO2brVWST0F-BbGdMOfR8cRlVnTaQN1ZYXAOV17aiA=w1000-h1080" />
        </div>
      </div>
      <div class="col-7">
        <h5 class="h2-responsive">
          <i class="fas fa-quote-left" aria-hidden="true"></i>
          If you don't take mannu then doctor give injection!
          <i class="fas fa-quote-right" aria-hidden="true"></i></h5>
        <b class="text-right font-italic mb-0">~ Chonnu babu</b>

      </div>
    </div> -->


    <div class="clear"></div>

    <mat-tab-group [selectedIndex]="selectedIndex" (selectedTabChange)="tabChanged($event)" dynamicHeight>
      <mat-tab label="Mannu List">
        <app-mannu-list></app-mannu-list>
      </mat-tab>
      <mat-tab label="Add Mannu">
        <app-mannu-form></app-mannu-form>
      </mat-tab>
    </mat-tab-group>


  </div>